/* 예약페이지 CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    height: 100%;
}


#container{
    width: 100%;
    height: 100%;
    background-color: rgb(249, 250, 255);
}

/* 예약페이지 메인 CSS */
#reservationBody{
	display: flex;
}

.info{
	width: 420px;
	height: 780px;
	padding: 20px;
}

.infoBox{
	width: 400px;
	height: 100%;
	padding-top: 30px;
	border: 2px solid rgb(211, 211, 211);
	display: flex;
	justify-content: space-between ;
	align-items: center;
	flex-direction: column;
	background-color: white;
}


.infoBoxFoot{
	width: 400px;
	height: 100%;
	padding-top: 30px;
	border: 2px solid rgb(211, 211, 211);
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: white;
}


.fontM{
	font-size: 20px;
}

.bold{
	font-weight: bolder;;
}


/* 버튼 CSS */
.buttonM{
	width: 320px;
	height: 50px;
	border: 2px solid #118CCF;
	border-radius: 50px;
	background-color: transparent;
	font-size: 16px;
	font-weight: bold;
	color: #118CCF;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	background-color: white;
}

.buttonM:hover{
	border: 2px solid #118CCF;
	color: white;
	background-color: #118CCF;
}

.infoHead{
	height: 50px;
}

.infoFoot{
	margin-bottom: 30px
}

.infoInput{
	height: 500px;
	display: flex;
	flex-direction: column;
}

.input{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 320px;
	height: 50px;
	font-size: 16px;
	padding-left: 8px;
}

#agreeBox{
	margin-top: 20px;
	display: flex;
	width:320px;
	}
	
.agreeBox{
	display: flex;
	align-items: center;
	width: 150px;
}

.pointer{
	cursor: pointer;
}

input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

input[type='radio']:checked {
  background-color: #118CCF;
  border: 3px solid white;
  box-shadow: 0 0 0 1.6px #118CCF
}

.fontS{
	font-size: 14px;
}

.call{
	color: #118CCF;
	font-size: 40px;
	font-weight: bold;
	background-color: white;
}

#departmentBox{
	padding: 20px;
}


.prevButton{
	width: 80px;
	height: 40px;
	border: 2px solid rgb(211, 211, 211);
	border-radius: 50px;
	background-color: transparent;
	font-size: 16px;
	font-weight: bold;
	color: gray;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	background-color: white;
}


.departmentButton{
	width: 180px;
	height: 65px;
	border: 2px solid rgb(211, 211, 211);
	border-radius: 10px;
	background-color: transparent;
	font-size: 16px;
	font-weight: bold;
	color: gray;
	margin: 5px;
	cursor: pointer;
	background-color: white;
}

.departmentButton:hover{
	border: 2px solid #118CCF;
	color: white;
	background-color: #118CCF;
}


#employeeBox{
	padding: 20px;
}

#employee{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

#employeeList{
	display: flex;
}

.employeeButton{
	border: 2px solid rgb(192, 192, 192);
	padding: 30px;
	cursor: pointer;
	border-radius: 10px;
	background-color: white;
}


.employeeImg{
	width: 150px;
	height: 150px;
	border-radius: 10px;
}

.employeeButton:hover{
	border: 2px solid #118CCF;
	color: white;
	background-color: #118CCF;
}

.prevButton:hover{
	border: 2px solid #118CCF;
	color: white;
	background-color: #118CCF;
}


