* {
    font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
    font-weight: 400;
}


body {
    margin: 0;
    padding: 0;
    background-color: #e3e3e3
}

.fa-user {
    font-size: 40px;
    opacity: 0.5;
    color: #2263bb;
}

#memberVo {
    margin-top: 40px;
}

.btnType03 {
    background-color: #2263bb;
    color: #fff;
    padding: 16px;
    border: none;
    cursor: pointer;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s;
    font-size: 18px;
    font-weight: bold;
}

.btnType03:hover {
    background-color: #2980b9;
}

.colorPoint {
    color: #8eb3e8!important
}

.colorPoint02 {
    color: #666!important
}

.inputText {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 18px;
}


#content {
    word-spacing: 0;
    letter-spacing: -.5px
}

.loginContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    padding-right: 0
}

.logBox {
    float: left;
    width: 350px;
    height: 450px;
    padding: 60px;
    text-align: center;
    background-color: #fff;
}

#loginBtn {
    margin-top: 20px;
    margin-bottom: 20px;
}

#joinBtn {
	text-decoration: none;
}

#joinBtn:link {
	color: #666;
}

.colorPoint {
    font-size: 25px;
    font-weight: 700;
}

.colorPoint02 {
    font-size: 16px;
}

.selectBox {
    display: flex;
    justify-content: center;
    width: 470px;
    height: 50px;
    background-color: #fff;
}

.memberBox, .adminBox {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    background-color: #fff; 
    flex-grow: 1; /* 두 박스가 같은 크기를 갖도록 설정 */
    text-align: center;
    color: white;
}

.adminBox {
    background-color: #c9c9c9;
    font-weight: bold;
    transition: all 0.4s;
}

.adminBox:hover {
    background-color: #d9d9d9;
}

.memberBox {
    background-color: #2263bb;
    font-weight: bold;
    transition: all 0.4s;
}

.memberBox:hover {
    background-color: #2980b9;
}

/*header 시작*/
nav {
    font-size: 13pt;
    font-family: 'PT Sans', Arial, Sans-serif;
    position: relative;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: auto;
}

nav a {
    line-height: 80px;
    height: 80px;
}

nav li a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav li:last-child a {
    border-right: 0;
}

nav a#pull {
    display: none;
}

html {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav ul {
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
    color: #000;
    list-style: none;
    border-bottom: 1px solid lightgray;
}

nav li {
    display: inline-block;
    position: relative;
    left: 120px;
}

nav li a {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    transition: 0.2s color;
    margin-right: 20px;
    text-decoration: none;
}

nav li a:link {
	color: black;
}

nav li a:hover {
    color: #2763ba;
    font-weight: normal;
}

nav li:nth-last-child(2) a,
nav li:last-child a {
    font-size: 17px;
    margin-right: 0px;
    padding-right: 10px;
    position: relative;
    right: -40px;
}

.menu {
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    z-index: 100;
}

.container-Logo > img {
    position: absolute;
    width: 20%;
    top: 50%;
    left: 11%;
    transform: translate(-50%, -50%);
}

.menu-item {
    position: relative; 
}
/*header 끝*/

/*footer 시작*/
.ft_homWrap {
    position: absolute;
/*    top: 2500px;*/
    width: 100%;
}

#footer {
    /*margin-top: 100px;*/
    background-color: #31354e;
    height: auto;
    width: 100%;
}

#footer li {
    float: left;
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}

.Wrapall_ft {
    width: 100%;
    height: 260px;
    background-color: #31354e;
}

.footerMenu_top {
    width: 100%;
    height: 60px;
    background-color: #22263b;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.ftmu_top {
    color: #fff;
    list-style:none;
    margin-left: -33px;
}

.ftmu_top li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    width: 1px;
    height: 16px;
    margin-top: -6px;
    background-color: #999999;
}

.ftmu_top li:first-child::before {
    display: none;
}

.ftmu_top_1 {
    color: #999;
    list-style: none;
    font-size: 14px;
    display: flex;
    text-align: center;
    margin-right: 20px;
}

.footerMenu_mid {
    width: 100%;
    height: 59px;
    border-bottom: 1px solid #22263b;
    list-style:none;
    color: #cccccc;
}

.ftmu_top_li_b {
    position: absolute;
    top: 20px;
    left: 5px;
    margin-right: 15px;
}

.aacolor {
    color: #a4e1ff!important;
}

.footerMenu_bot {
    width: 100%;
    height: 140px;
    float: left;
    background-color: #31354e;
    color: #999;
    font-size: 14px;
    display: flex; 
    align-items: flex-start;
    justify-content: space-around; 
    flex-direction: row;
}

.footerMenu_bot p {
    margin: 5px; 
    margin-top: 25px;
}

.ftbot_img {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.ftbot_img img {
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

.ftbot_img p {
    margin: 0; 
}
/*footer 끝*/

